body {
  font-family: Arial, sans-serif;
  background-color: black;
  color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  line-height: 1.6; /* Memberikan jarak antar baris untuk teks */
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
}

strong {
  text-decoration: none;
}

strong:hover {
  color: aquamarine;
  text-decoration: overline;
}

.image {
  float: left;
  width: 320px; /* Ukuran lebar lingkaran */
  height: 320px; /* Tinggi lingkaran harus sama */
  border-radius: 50%; /* Membuat lingkaran */
  object-fit: cover; /* Memastikan gambar memenuhi lingkaran */
  margin: 0 20px 20px 0; /* Jarak gambar dari teks */
  border: 3px solid black; /* Bingkai di sekitar lingkaran */
}

p {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  font-weight: bold;
}

.footer {
  text-align: left;
}

.footer i {
  color: whitesmoke;
  margin: 0 5px;
}

.footer i:hover {
  color: aquamarine
}

.social-icon {
  text-decoration: none; /* Menghilangkan garis bawah link */
  color: #e1306c; /* Warna ikon Instagram */
  font-size: 15px; /* Ukuran ikon */
  display: inline-block; /* Membuat ikon tampil sebagai elemen blok */
  transition: color 0.3s; /* Animasi perubahan warna */
}

.social-icon:hover {
  color: blue; /* Warna ikon saat dihover */
}

/* Responsive styles */
@media (max-width: 768px) {
  .container {
    padding: 15px;
  }

  h1 {
    font-size: 20px;
  }

  p {
    font-size: 14px;
  }

  .image {
    float: none;
    display: block;
    margin: 20px auto; /* Pusatkan gambar pada perangkat kecil */
  }

  .footer {
    text-align: left;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 18px;
  }

  p {
    font-size: 12px;
  }

  .social-icon {
    font-size: 12px;
  }
}
